{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static  'js/main.js' %}"></script>

<script>
    $(document).ready(function() {
        // Tronquer la description de chaque produit à 20 caractères
        $('.product-description').each(function() {
            var description = $(this).text();
            if (description.length > 15) {
                $(this).text(description.substring(0, 15) + '...');
            }
        });

        afficherProduitsDuPanierDansModal();
            // Tronquer la description de chaque produit à 20 caractères
            $('.product-description').each(function() {
                var description = $(this).text();
                if (description.length > 15) {
                    $(this).text(description.substring(0, 15) + '...');
                }
            });
    
        /* Script pour ajouter un produit au panier en localStorage et non dans la base de données */
    


        // Vérifie s'il y a déjà un panier dans le stockage local
        
        // G     // Met à jour le panier dans le stockage local
        
    
        //nb_artiestionnaire d'événements pour le clic sur l'icône de panier
        $('#panier-link').click(function() {
            $('#modal-panier').modal('show'); // Ouvre le modal
        });
        $('.close').click(function() {
            $('#modal-panier').modal('hide'); // ferme le modal
        });     
        $('#close_fermer').click(function() {
            $('#modal-panier').modal('hide'); // ferme le modal
        });

    





    });

    var panier = localStorage.getItem("panier") ? JSON.parse(localStorage.getItem("panier")) : {};

    $(document).on('click','.ajout', function(){
        var id_produit = this.id.toString();
        var valeur = document.getElementById("valeur").value;
        valeur = parseInt(valeur); // Utilisation de parseInt() pour convertir en entier
        // Récupérer les informations du produit
        var produitInfo = {
            nom: "{{ produit.titre }}",
            image: "{{ produit.image.url }}",
            prix: "{{ produit.prix }}",
            quantite: valeur    
        };
    
        // Vérifie si l'id_produit existe déjà dans le panier
        if (panier[id_produit] !== undefined) {
            // Si oui, ajoute la nouvelle valeur à l'existant
            panier[id_produit].quantite += valeur;
        } else {
            // Sinon, initialise la valeur
            panier[id_produit] = produitInfo;
        }


        // Met à jour le panier dans le stockage local
        localStorage.setItem("panier", JSON.stringify(panier));
        var nb_article = document.getElementById("nb_article");
        nb_article.innerHTML = Object.keys(JSON.parse(localStorage.getItem("panier"))).length;
        afficherProduitsDuPanierDansModal();
    })

            function afficherProduitsDuPanierDansModal() {
                console.log("j'appelle la fonction afficher panier")
                var panier = localStorage.getItem("panier") ? JSON.parse(localStorage.getItem("panier")) : {};
                var nb_article = document.getElementById("nb_article");
                if (nb_article) {
                    nb_article.innerHTML = Object.keys(panier).length;
                }
                // Afficher le nombre d'articles dans le badge de l'icône du panier
                var nb_article = document.getElementById("nb_article");
                var tbody = $('#modal-panier').find('tbody');
                tbody.empty(); // Vide le contenu actuel du tableau avant de l'actualiser

                // Itération sur le panier dans le localStorage
                for (var key in panier) {
                    if (panier.hasOwnProperty(key)) {
                        var produit = panier[key];

                        // Construction de la ligne du tableau avec les informations du produit
                        var nouvelleLigne = '<tr>' +
                            '<th scope="row">' +
                            '<div class="d-flex align-items-center">' +
                            '<img src="' + produit.image + '" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">' +
                            '</div>' +
                            '</th>' +
                            '<td>' +
                            '<p class="mb-0 mt-4">' + produit.nom + '</p>' +
                            '</td>' +
                            '<td>' +
                            '<p class="mb-0 mt-4">' + produit.prix + '</p>' +
                            '</td>' +
                            '<td>' +
                            '<div class="input-group quantity mt-4" style="width: 100px;">' +
                            '<input type="text" class="form-control form-control-sm text-center border-0" value="' + produit.quantite + '">' +
                            '</div>' +
                            '</td>' +
                            '<td>' +
                            '<p class="mb-0 mt-4">' + produit.prix * produit.quantite + '</p>' +
                            '</td>' +
                            '<td>' +
                            '<button class="btn btn-md rounded-circle bg-light border mt-4">' +
                            '<i class="fa fa-times text-danger"></i>' +
                            '</button>' +
                            '</td>' +
                            '</tr>';

                        // Ajout de la nouvelle ligne au tableau
                        tbody.append(nouvelleLigne);
                    }
                }
            }

    

</script>